<form action="{% url 'add_rating' %}" method="post">

  {% csrf_token %}

  <label for="movie">Movie list: </label>

  <select name="movie" id="movie">
    {% for movie in movies %}
      <option value="{{ movie.movie_id }}">{{ movie.movie_title }}</option>
    {% endfor %}
  </select>


  <br>
  <br>
  <label for="rating">Rating Scale: </label>
  <select name="rating" id="rating">
    <option>5</option>
    <option>4</option>
    <option>3</option>
    <option>2</option>
    <option>1</option>
  </select>
  <br>
  <br>
  <input type="submit" value="Add Rating" name='Add_Rating'>
  <input type="submit" value="Exit" name='Exit' id='Exit'>
</form>
